{%- assign startdate = item.start -%}
{%- assign enddate = item.end -%}
{%- assign jobstartdays = startdate | date: "%s" | divided_by: 86400 -%}
{%- assign jobendedays = enddate | default: 'now' | date: "%s" | divided_by: 86400 -%}
{%- assign jobdiffdays = jobendedays | minus: jobstartdays -%}

{%- assign years = jobdiffdays | divided_by: 365.25 | floor -%}
{%- assign months = jobdiffdays | modulo: 365.25 | divided_by: 30.4375 | round -%}

{%- if years > 0 -%}
{{ years }} yr {% if months > 0 %}{{ months }} m{%- endif -%}
{%- else -%}
{{ months }} m
{%- endif -%}