<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142301295-3"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142301295-3');
</script>

<script>
  function share() {
  
    if (navigator.share) {
      navigator.share({
        title: "{{ page.title }}",
        text: "{{ page.description }}",
        url: "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
      })
      .catch((error) => console.log("Error sharing", error));
  
      return false;
    } else {
      console.log("Sharing not supported; falling back to link");
      return true;
    }
  }
  </script>