<div class="share">
    <div class="head text-themed">Share</div>
    {% assign share-url = page.url | prepend: site.baseurl | prepend: site.url %}

    <a
      href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ share-url }}&via={{ site.author.twitter }}&original_referer={{ share-url }}"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="Twitter"
      class="btn no-underline"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect>
    <path d="M245.7,77.7l-30.2,30.1C209.5,177.7,150.5,232,80,232c-14.5,0-26.5-2.3-35.6-6.8-7.3-3.7-10.3-7.6-11.1-8.8a8,8,0,0,1,3.9-11.9c.2-.1,23.8-9.1,39.1-26.4a108.6,108.6,0,0,1-24.7-24.4c-13.7-18.6-28.2-50.9-19.5-99.1a8.1,8.1,0,0,1,5.5-6.2,8,8,0,0,1,8.1,1.9c.3.4,33.6,33.2,74.3,43.8V88a48.3,48.3,0,0,1,48.6-48,48.2,48.2,0,0,1,41,24H240a8,8,0,0,1,7.4,4.9A8.4,8.4,0,0,1,245.7,77.7Z"></path>
    </svg>
    </a>

    <a
      href="https://www.linkedin.com/shareArticle?mini=true&url={{ share-url }}&title={{ page.title }}"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="LinkedIn"
      class="btn no-underline"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect>
    <path d="M212,28H44A16,16,0,0,0,28,44V212a16,16,0,0,0,16,16H212a16,16,0,0,0,16-16V44A16,16,0,0,0,212,28ZM96,176a8,8,0,0,1-16,0V112a8,8,0,0,1,16,0ZM88,92a12,12,0,1,1,12-12A12,12,0,0,1,88,92Zm96,84a8,8,0,0,1-16,0V140a20,20,0,0,0-40,0v36a8,8,0,0,1-16,0V112a8,8,0,0,1,15.8-1.8A36,36,0,0,1,184,140Z"></path>
    </svg>
    </a>

    <a
      href="https://www.facebook.com/sharer/sharer.php?u={{ share-url }}"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="Facebook"
      class="btn no-underline"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect>
    <path d="M232,128a104.3,104.3,0,0,1-91.5,103.3,4.1,4.1,0,0,1-4.5-4V152h24a8,8,0,0,0,8-8.5,8.2,8.2,0,0,0-8.3-7.5H136V112a16,16,0,0,1,16-16h16a8,8,0,0,0,8-8.5,8.2,8.2,0,0,0-8.3-7.5H152a32,32,0,0,0-32,32v24H96a8,8,0,0,0-8,8.5,8.2,8.2,0,0,0,8.3,7.5H120v75.3a4,4,0,0,1-4.4,4C62.8,224.9,22,179,24.1,124.1A104,104,0,0,1,232,128Z"></path>
    </svg>
    </a>

    <a
      href="{{ page.url | prepend: site.baseurl | prepend: site.url }}"
      title="Permalink"
      class="btn no-underline"
      onclick="return share()"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect>
    <path d="M229.7,109.7l-48,48A8.3,8.3,0,0,1,176,160a8.5,8.5,0,0,1-3.1-.6A8,8,0,0,1,168,152V112a87.9,87.9,0,0,0-85.2,66,8.1,8.1,0,0,1-7.8,6l-2-.3a8,8,0,0,1-5.7-9.7A103.9,103.9,0,0,1,168,96V56a8,8,0,0,1,4.9-7.4,8.4,8.4,0,0,1,8.8,1.7l48,48A8.1,8.1,0,0,1,229.7,109.7ZM192,208H40V88a8,8,0,0,0-16,0V208a16,16,0,0,0,16,16H192a8,8,0,0,0,0-16Z"></path>
    </svg>
    </a>

  </div>
</div>

<script>
function share() {

  if (navigator.share) {
    navigator.share({
      title: "{{ page.title }}",
      text: "{{ page.description }}",
      url: "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
    })
    .catch((error) => console.log("Error sharing", error));

    return false;
  } else {
    console.log("Sharing not supported; falling back to link");
    return true;
  }
}
</script>