{% assign profile = include.account | prepend: "https://twitter.com/" %}
{% assign permalink = include.id | prepend: "/status/" | prepend: profile %}

<div class="twitter-card m-5">
  🐦️Tweet by <a href="{{ profile }}" aria-label="{{ include.account }}">@{{ include.account }}</a>
    <br>&nbsp;
    <p>{{ include.contents }}</p>
    <a href="{{ permalink }}">
      <span>View on Twitter →</span>
      <time datetime="{{ include.timestamp | date:"%Y-%m-%d" }}">{{ include.timestamp | date: "%b %e, %Y" }}</time>
    </a>
</div>