.about-pills{
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
}

.about-pill{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem .75rem;
    @extend .font-14;
    border-radius: 2rem;
    border: 1px solid;
    gap: .5rem;
    @include themed(border-color, $dark-300, $dark-700);
    @include themed(background-color, $dark-100, $dark-800);

    img{
        width: 1.5rem;
        height: 1.5rem;
        display: inline;
        border-radius: 3rem;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-left: -0.25rem !important;
    }
}

.live{
  border: 1px solid;
  font-size: .75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  letter-spacing: .125rem;
  @include themed(color, $danger, $danger-light);
  font-weight: 600;
  @include themed(border-color, $dark-300, $dark-700);

  span.live-icon{
    display: inline-block;
    @include themed(background-color, $danger, $danger-light);
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    z-index: 1;
    &:before{
      content: '';
      display: block;
      height: 100%;
      border-radius: 50%;
      @include themed(background-color, rgba($danger, .6), rgba($danger-light, .6));
      animation: live 2s ease-in-out infinite;
      z-index: -1;
    }
  }
  @keyframes live {
    0% {
      transform: scale(1,1);
    }
    100% {
      transform: scale(3.5,3.5);
      background-color: rgba($danger,0);
    }
  }
}