.accordion .box {
    position: relative;
    margin: 10px 0;
    border-radius: .25rem;
    border: 1px solid black;
    margin-bottom: 1.5rem;
  }
  
  .accordion .label {
    position: relative;
    font-family: 'Space Grotesk', sans-serif;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 500 !important;
    cursor: pointer;
  }

  .accordion .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 1rem;
    font-size: 30px;
    transform: translateY(-50%);
  }
  
  .accordion .content {
    position: relative;
    height: 0;
    text-align: justify;
    overflow: hidden;
    transition: 0.5s ease-out;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  }

  .accordion .box.active .content {
    height: auto;
  }
  
  .accordion .box.active .label::before {
    content: '-';
    font-size: 30px;
  }