.search-box {
    box-shadow:none !important;
}

.article.card {
    text-decoration: none!important;
    height: 100%;
}

.article {

    .article-metadata {
        font-size: 0.875rem;
        margin-top: -0.375rem;
    }

    .tag:hover {
        background-color: #bef264;
        color: #14532d !important;
    }

    
    h1, h2 { margin-top: 2rem; }


    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .video {
        position: relative;
        margin-bottom: 1rem;
        width: 100%;
    }

    a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):not(.no-underline):not(.account):not(.tweet-icon):not(.tweet-foot):not(.video-img):not(.p-hunt)  {
        text-decoration: none;
        color: $text-black;
        border-bottom: 1px solid $text-black;

        &:hover { 
            background: #86efac;
        }
    }

    pre {
        background: $light;
        border: 1px solid #ddd;
        color: $dark;
        font-family: monospace;
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-bottom: 1.6em;
        max-width: 100%;
        padding: 1em 1.5em;
        display: block;
        page-break-inside: avoid;
        overflow: auto;
        word-wrap: break-word;
    }

    code.highlighter-rouge {
        background-color: $light;
        color: $dark;
        border-radius: 3px;
        margin: 0;
        padding: .2em .65em;
    }

    blockquote {
        border: 1px solid $text-black;
        color: $text-black;
        font-size: 1.12rem;
        font-style: italic;
        padding: 1rem;
        margin: 1.5rem 0;
        border-radius: 0.25rem;

        p{
            margin-bottom: 0;
        }
    }
      
    table {
        display: block;
        overflow-x: auto;
        margin: 1rem 0;

        td {
            border: 1px solid #ddd;
            padding: 0.5rem 1rem;
        }

        th {
            @extend td;
            padding: 0.75rem 0;
            font-weight: 500;
            text-align: left;
            background-color: $primary;
            color: white;
        }

        tr:nth-child(even) {
            background-color: $light;
        }
    }

    .share{
        font-size: 0;
        margin: 4rem auto;
        text-align: center;

        .btn{
            background-color: transparent;

            svg{margin-right: 0;}

            &:hover{svg{fill: #fff;}}
            &:hover.twitter{background-color: #1da1f2;}
            &:hover.linkedin{background-color: #007bb5;}
            &:hover.facebook{background-color: #1877f2;}
            &:hover.shareurl{background-color: #666666;}
        }
    }
}

ul{
    padding-left: 1.25rem;
    margin-bottom: 1.5rem;
}

ol{
    padding-left: 1.25rem;
    margin-bottom: 1rem !important;
}

hr {
    background: #d4d4d8;
  }

mark{
    background-color: #89ffde9d;
}

li{
    del{color: #4d4d4d;}
    margin-bottom: .25rem;
}