body {
    font-family: 'Sen', sans-serif;
}

.badge {
    font-weight: 500;
    background-color: #89ffdd;
    color: #003933;
}

#container {
    display: inline-block;
    position: relative;
    width: 100%;
}

#dummy {
    padding-top: 100%;
}

#element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

// Footer
.social {
    text-decoration: none !important;
}

.share {
    font-size: 0; // Fix percentage issue with whitespace
    margin: 4rem auto;
    text-align: center;
  
    div {
      display: inline-block;
      width: 50%;
    }
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kulim Park', sans-serif;
}


.btn{
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #89ffdd !important;
    border-color: #003933 !important;
    color: #003933 !important;
    cursor: pointer;
    }
    :hover.btn{
        background-color: #43d6b5 !important;
        }

.navbar-light .navbar-nav .nav-link{
    color: #4d4d4d;
}

.branding {
    display: inline;
}

.dot{
    border: 0;
    margin: 2em auto;
    max-width: 50%;

    &::before {
    content: "...";
    display: block;
    font-weight: bold;
    letter-spacing: 1em;
    text-align: center;
}
}

.about-sec-h{
    font-size: 20px;
    font-weight: bold;
    color: #242424;
    padding-top: 30px;
    margin-bottom: 0px;
}

.about-pills{
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.about-pill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .3rem .8rem .4rem;
    font-size: .9rem;
    border-radius: 9999999px;
    border: 1px solid gray;
    margin: .4rem .6rem .4rem 0;
    transition: all .2s ease-in-out!important;
    color: var(--text-secondary);
}

.about-pill-img{
    width: 30px;
    height: 30px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: inline;
}

.col-lg-10{
    padding-left: 10px;
    padding-right: 10px;
}

.post-grid {
    display:grid;
    grid-column-gap:0px;
    grid-row-gap:0px;
    grid-template-columns:repeat(4, 1fr);
   }
   @media (min-width: 720px) {
    .post-grid {
     grid-template-columns:repeat(8, 1fr);
    }
   }
   @media (min-width: 1080px) {
    .post-grid {
     grid-template-columns:repeat(12, 1fr);
    }
   }

.post-grid-item {
    grid-column:span 4;
    display:block;
    -webkit-text-decoration:none;
    text-decoration:none;
    padding: 1rem;
    border-radius: .25rem;
    
    &:hover{
        box-shadow: 0 4px 12px 0 rgba(0,0,0,.12);
        transform: translateY(-.5rem);
        z-index: 2;
        transition: all .25s ease;
    }
   }

.text-center {
    text-align: center !important;
   }

.social-icon{
    fill: #575858;

    &:hover{
        fill: #43d6b5;
    }
}

.icon-svg-themed{
    fill: #343a40;
}