body {
    font-family: 'Hanken Grotesk', sans-serif;
    color: $dark-700;
}

main {
    width: 708px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1.5rem;
    flex-shrink: 0;

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0px 1.5rem;
    }
}

svg{
    overflow: hidden;
    vertical-align: middle;
}

.post-tag {
    padding: .25rem;
    border-radius: .25rem;
    @extend .font-14;
    text-transform: lowercase;
    @include themed(color, $primary-900, $primary-100);
    @include themed(background-color, $primary-100, $primary-800);

    &:hover {
        @include themed(background-color, $primary-300, $primary-900);
    }
}

#container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.dot {
    border: 0;
    margin: 3rem auto;
    max-width: 50%;

    &::before {
        content: "...";
        display: block;
        font-weight: bold;
        letter-spacing: 1rem;
        text-align: center;
    }
}

.col-lg-10 {
    padding: 0 0.625rem;
}

* {
    box-sizing: border-box;
}

ul.task-list {
    list-style: none;
    padding-left: 0px;
}

.search-bar {
    input {
        padding: .75rem 1rem .75rem 2.75rem;
    }
}

.baseline-svg {
    display: inline-flex;
    align-self: center;
    margin-right: 4px;

    svg {
        height: 1em;
        width: 1em;
        stroke: currentColor;
        top: .12em;
        position: relative;
    }
}

.resources {
    ul {
        list-style: none;
        padding-left: 0px;
    }
}

.page-header {
    margin: 4rem auto 3rem;
    text-align: center;
    max-width: 360px;

    @media screen and (max-width: 768px) {
        padding: 0 1.5rem;
    }

    h2 {
        font-weight: 700;
        margin: 0 !important;
    }

    p {
        margin-top: 1rem;
    }

    .title {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;

        svg {
            @include themed(fill, $dark-400, $dark-600);
        }
    }
}

footer {
    @include themed(background-color, $dark-100, $dark-800);
    border-top: 1px dashed;
    @include themed(border-color, $dark-300, $dark-700);
    @include themed(color, $dark-500, $dark-400);

    .social-icon {
        display: inline-block;
        padding: .5rem .75rem;

        svg {
            @include themed(color, $dark-500, $dark-400);

            &:hover {
                @include themed(color, $primary-500, $primary-300);
            }
        }
    }
}

.impossible {
    display: flex;
    align-items: flex-start;
    margin-bottom: .5rem;
    gap: .25rem;

    .icon-tabler-square-rounded {
        @include themed(color, $dark-300, $dark-700);
    }

    .icon-tabler-check {
        @include themed(color, $success, $success-light);
    }

    .impossible-list-item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .25rem;
    }
}