.btn{
    margin: 0 0.25rem;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    height: 2.75rem;
    transition: all .14s ease-out;
    @include themed(color, $dark-900, $dark-900);
    @include themed(background-color, $primary-400, $primary-300);

    svg{
        margin-right: 0.5rem;
        @include themed(color, $dark-900, $dark-900);
    }

    &:hover{
        @include themed(background-color, $primary-500, $primary-400);
      }
}

.btn-outline{
    background-color: transparent !important;
    border: 1px solid;
    @include themed(color, $primary-900, $primary-300);
    @include themed(border-color, $primary-400, $primary-500);

    svg{
      @include themed(color, $primary-900, $primary-300);
    }
}

.share{
    margin: 4rem auto;
    text-align: center;

    .btn{
        background-color: transparent;
        font-size: 0;
        @include themed(border-color, $dark-300, $dark-700);

        svg{
            margin-right: 0;
            @include themed(color, $dark-700, $dark-300);
        }

        &:hover{svg{color: #fff;}}
        &:hover.twitter{background-color: #1da1f2;}
        &:hover.linkedin{background-color: #007bb5;}
        &:hover.facebook{background-color: #1877f2;}
        &:hover.shareurl{background-color: #666666;}
    }
}