.desk-container{
    position: relative;

    &:hover .desk-hover{
        opacity: 1;
    }
}
.desk-setup{
    content: url("/Images/about/desk.webp");
}
.desk-hover{
    content: url("/Images/about/desk-hover.webp");
    position: absolute;
    opacity: 0;
    transition: opacity .17s ease-in-out;
}