.text-center {
    text-align: center !important;
}

small{
    font-size: 80%;
    font-weight: 400;
}

.section-heading{
    margin-bottom: 1rem;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    line-height: 1.5rem;
}