.landing {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    .picture img {
        max-width: 200px;
        height: auto;
        border-radius: 100%;
        object-fit: fill;
    }

    .btn {
        margin: 0 !important;
    }
    
}

.section-heading-link {
    @extend .font-14;
    @include themed(color, $primary-700, $primary-300);

    &:hover {
        @include themed(color, $primary-800, $primary-200);
        text-decoration: none;
    }
}

@media (max-width: 600px) {
    .landing {
        flex-direction: column;
        align-items: center;
    }

    .hero-content {
        text-align: center;
        padding: 0 1.5rem;
    }
}