.link-after {
    content: '';
    display: block;
    height: .15em;
    background: #43d6b5;
}

.nav-link, .navbar-brand {
    &:hover{
        .nav-dot{
            background-color: #89ffdd;
        }
        
}
}

.nav-item.active {
    font-weight: bold;

    .nav-dot{
        background-color: #43d6b5;
        border-color: #43d6b5;
    }
}

.navbar-brand {
    margin-bottom: 0px !important;
    &::after {
        margin-top: -.25em;
    }
}

.nav-dot{
    border: 2px solid #4d4d4d;
    border-radius: 15px;
    display: inline-block;
    height: 10px;
    width: 10px;
}