.nav-link {
    text-transform: lowercase;
    display: flex;
    align-items: center;
}

.nav-item.active {
    font-weight: 700;
}

.navbar-toggler{
    border: none;
    padding: .5rem;
}

.branding {
    display: inline;
    svg{
        fill: $text-black;
    }
}

.navbar{
    padding: .5rem 1rem;
    border-radius: .75rem;
    min-height: 52px;
}

#theme-toggler:before{
    height: 1.25rem;
}