.nav-link {
    text-transform: lowercase;
    font-family: 'DM Sans', sans-serif;

    &:hover{
        text-decoration: underline 1px #000;
        text-underline-offset: 0.25rem;
    } 
}

.nav-item.active {
    font-weight: 700;
    text-decoration: underline 1px #000;
    text-underline-offset: 0.25rem;
}

.navbar-toggler{
    border: none;
    padding: 0;
}

.branding {
    display: inline;
}