.post-grid {
    display:grid;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns:repeat(4, 1fr);

    img{
        border-radius: .5rem;
        border: 1px solid;
        @include themed(border-color, $dark-300, $dark-700);
    }
}

@media (min-width: 600px) {
    .post-grid {
        grid-template-columns:repeat(8, 1fr);
    }
}

@media (min-width: 720px) {
    .post-grid {
        grid-template-columns:repeat(12, 1fr);
    }
}

@media (min-width: 1080px) {
    .post-grid {
        grid-template-columns:repeat(12, 1fr);
    }
}

.post-grid-item {
    grid-column:span 4;
    display:block;
    -webkit-text-decoration:none;
    text-decoration:none;
}

.item-body{
    p{
        margin-bottom: 0;
    }
}

.post {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    height: 100%;
    gap: 1rem;
    text-decoration: none !important;
}

.blog-tags{
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    margin-bottom: .5rem !important;
    @extend .font-12;
}

.blog{
    @media (min-width: 600px) {
        .post-grid {
         grid-template-columns:repeat(8, 1fr);
        }
       }
       @media (min-width: 720px) {
        .post-grid {
         grid-template-columns:repeat(8, 1fr);
        }
       }
       @media (min-width: 1080px) {
        .post-grid {
         grid-template-columns:repeat(8, 1fr);
        }
       }
    .post-grid-item{
        border: none;
    }

    .blog-body{
        p{
            margin-bottom: .5rem;
        }
    }
}

.book{
    @media screen and (max-width: 600px) {
        a{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .item{
            width: inherit;
        }

        img{
            max-width: 130px;
            height: auto;
            aspect-ratio: 1 / 1;
        }
    }
}