.post-grid {
    display:grid;
    grid-column-gap: 36px;
    grid-row-gap: 48px;
    grid-template-columns:repeat(4, 1fr);
   }
   @media (min-width: 720px) {
    .post-grid {
     grid-template-columns:repeat(8, 1fr);
    }
   }
   @media (min-width: 1080px) {
    .post-grid {
     grid-template-columns:repeat(12, 1fr);
    }
   }

.post-grid-item {
    grid-column:span 4;
    display:block;
    -webkit-text-decoration:none;
    text-decoration:none;
    border-radius: .25rem;
    border: 1px gray solid;
   }

.card{
    border: none;
}

.card-body{
    padding: 1.5rem;
}

.card-text{
    margin-bottom: 0.75rem !important;
}

.thumbnail{
    width: 100%;
    border-bottom: 1px gray solid;
    border-radius: .25rem .25rem 0 0;
}

.project.card {
    border-radius: .25rem;
    text-decoration: none!important;

    .card-img-top {
        width: 100%;
    }
}

.post-footer{
    margin: 0 1rem;
}

.blog-tags{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.06rem;
}

.work-toggle{
    padding: 4px;
    border-radius: 8px;
    background-color: transparent;
    color: #000000;
    border: 1px #000 solid;

    a { 
        color: inherit !important;
        margin: 0 !important;
        padding: 0 !important;
        background-color: inherit !important;
    }

    .work-toggle-active{
        background-color: #43d6b5;
        color: #000000;
        border-radius: 4px;
    }
}