.card{
    border: none;
}
.card-body{
    padding: 1.25rem 0;
    padding-bottom: 0;
}
.card-text{
    margin-bottom: 0.75rem !important;
}
.project.card {
    border-radius: .25rem;
    text-decoration: none!important;

    .card-img-top {
        border-radius: 0.25rem;
        border: 1px solid rgba(0,0,0,0.15);
        width: 100%;
    }
}

.blog-tags{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.06rem;
}

.work-toggle{
    padding: 4px;
    border-radius: 8px;
    background-color: transparent;
    color: #000000;
    border: 1px #000 solid;

    a { 
        color: inherit !important;
        margin: 0 !important;
        padding: 0 !important;
        background-color: inherit !important;
    }

    .work-toggle-active{
        background-color: #43d6b5;
        color: #000000;
        border-radius: 4px;
    }
}