[data-theme="dark"] {
  body {
    background-color: $dark-900;
    color: $dark-300;
  }

  // Code blocks & Syntax highlighting

  @import "native.scss";

  pre,
  code.highlighter-rouge {
    @extend .highlight;
    border: none;
  }

  .gist {
    filter: invert(90%) hue-rotate(180deg);
  }

  // Inputs
  input{
    background-color: $dark-800;
    border-color: $dark-700;
    color: $dark-100;

    &::placeholder {
      color: rgba($dark-300, 0.64);
    }

    &:focus {
      background-color: $dark-800;
      color: $dark-300;
      border-color: $green-300;
    }
  }

  // Tables
  table:not(.highlight) {
    td {
      border-color: $dark-600;
    }

    tr:nth-child(even) {
      background-color: $dark-700;
    }
  }

  // Lists
  .list-group-item-action {
    background-color: $dark-600;
    color: $dark-300;

    &:hover,
    &:focus {
      background-color: darken($color: $dark-600, $amount: 3);
    }
  }

  .badge {
    background-color: #003933;
    color: #89ffdd;

    &:hover{background-color: #0e9a83;}
    }


.nav-link {&:hover{text-decoration-color: $dark-300;}}
.nav-item.active {text-decoration-color: $dark-300;}

}