.timeline-body {
	position: relative;
    
	.timeline-item {
        position: relative;
		margin-bottom: .5rem;
        
		.content {
			margin-left: 2rem;
			margin-bottom: .5rem;
		}
	}
}