.timeline-body {
	position: relative;
	font-size: 0.875rem;
    
	.timeline-item {
        position: relative;
        
		.content {
			margin-left: 2rem;
		}

		.date {
			letter-spacing: 1px;
		}
	}
}