$primary:   #007bff;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;

$text-black: #27272a;
$text-white: #e4e4e7;

$black-muted: #71717a;
$white-muted: #a1a1aa;

$border-light: #d4d4d8;
$border-dark: #3f3f46;