<div class="video" style="margin: 2rem 0;">
  <a class="video-img" href="https://youtu.be/{{ include.id }}" target="_blank" rel="noopener" aria-label="youtube-video">
    <img src="https://img.youtube.com/vi/{{ include.id }}/hq720.jpg" style="margin: 0 !important; border-radius: .25rem;" alt="youtube-video-img">
    <div style="display: block; left: calc(50%); margin-left: -40.0391px; margin-top: -25.625px; position: absolute; top: calc(50%);">
      <div style="cursor: pointer; height: 51.25px; box-shadow: none; width: 80.0781px;">
        <div style="background-color: #89ffdda8; height: 51.25px; width: 80.0781px;"></div>
        <svg x="0px" y="0px" viewBox="0 0 125 80" enable-background="new 0 0 125 80" style="height: 51.25px; left: 0px; stroke-width: 0px; top: 0px; width: 100%; position: absolute;" focusable="false" alt="">
          <rect fill-rule="evenodd" clip-rule="evenodd" fill="none" width="125" height="80"></rect>
          <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="53,22 53,58 79,40"></polygon></svg>
      </div>
    </div>
  </a>
</div>