---
title: 3D
layout: default
permalink: /3d
image: /assets/card.png
description: A gallery of impressive 3D projects, all created using Blender
---

{% include elements/page-title.html title="📦️ 3D Projects" %}

<div class="post-grid" style="margin-top: 3rem;">
  {% for item in site.data.blender %}
  <div class="post-grid-item">
    <a title="{{ item.name }}" target="_blank" rel="noopener" href="{{ item.url }}">
      <img id="{{ item.image }}-img" style="border-radius: .25rem;" src="{{ item.image }}" alt="{{ item.name }}"
        loading="lazy" />
    </a>
  </div>
  {% endfor %}
</div>