---
layout: default
title: Blog
permalink: /blog/
weight: 2
image: /assets/card.png
description: I love writing articles, and you can read all of them here
---

{% include post/search.html %}
<div class="blog">
<div class="post-grid" id="blog">
    {% for blog in site.blogs reversed %}
    
        {% if blog.external_url %}
          {% assign blog_url = blog.external_url %}
        {% else %}
          {% assign blog_url = blog.url | relative_url %}
        {% endif %}
    
    <div class="post-grid-item">
      <a href="{{ blog_url }}" class="project text-themed">
        <img class="thumbnail" src="{{ blog.image }}" alt="{{ blog.title }}"/>
        <div class="blog-body">
          <h6><b>{{ blog.title }}</b></h6>
          <p class="text-mute">{{ blog.content | markdownify | strip_html | truncate: 52 }}</p>
          <span class="text-mute">{{ blog.date | date_to_string }}</span>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
</div>