---
layout: default
title: Blog
permalink: /blog/
weight: 2
image: /assets/card.png
description: I love writing articles, and you can read all of them here
---

{% include post/search.html %}
<div class="post-grid" id="blog">
    {% for blog in site.blogs reversed %}
    
        {% if blog.external_url %}
          {% assign blog_url = blog.external_url %}
        {% else %}
          {% assign blog_url = blog.url | relative_url %}
        {% endif %}
    
    <div class="post-grid-item">
      <a href="{{ blog_url }}" class="project text-themed">
        <img class="thumbnail" src="{{ blog.image }}" alt="{{ blog.title }}"/>
        <div class="item-body">
          {% for tag in blog.tags %}
          <span class="blog-tags text-muted">{{ tag }}</span>
          {% endfor %}
          <h5><b>{{ blog.title }}</b></h5>
          <p>{{ blog.content | markdownify | strip_html | truncatewords: 11 }}</p>
        </div>
        <div class="item-footer">
          <p class="date-card" style="margin: 0;">
            <span>{{ blog.date | date_to_long_string }}</span>
            <span class="post-footer">•</span>
            <span>
              {% assign words = blog.content | number_of_words %}
              {% if words < 360 %}
              1 min
              {% else %}
              {{ words | divided_by:180 }} mins
              {% endif %}
            </span>
          </p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>