---
layout: default
title: Blog
permalink: /blog/
weight: 2
image: /assets/card.png
description: A collection of articles written by me on various topics of interest
---

{% include elements/page-title.html title="📝 Blog" %}

{% include post/search.html %}
<div class="blog">
<div class="post-grid" id="blog">
    {% for blog in site.blogs reversed %}
    
        {% if blog.external_url %}
          {% assign blog_url = blog.external_url %}
        {% else %}
          {% assign blog_url = blog.url | relative_url %}
        {% endif %}
    
   {% include post/card.html %}
  {% endfor %}
</div>
</div>