---
layout: default
title: Book Notes
permalink: /book-notes/
weight: 3
image: /assets/card.png
description: Notes, Highlights, and Summaries of books I have read
---

<div class="mt-5">
  <ul class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 list-unstyled list grid">
    {% for book in site.books reversed %}
    
        {% if book.external_url %}
          {% assign book_url = book.external_url %}
        {% else %}
          {% assign book_url = book.url %}
        {% endif %}

    <li class="col">
    <div class="post-grid-item">
      <a href="{{ book_url }}" class="project card text-themed" style="text-decoration: none !important;" >
        <img class="card-img-top" src="{{ book.image }}" alt="{{ book.title }}" loading="lazy"/>
        <div class="card-body">
          <h5 class="card-title text-themed"><b>{{ book.title }}</b></h5>
          <p class="card-text text-muted">by {{ book.author }}
          <br> 🌟 {{ book.rating }} / 10</p>
        </div>
        <p class="date-card text-muted">{{ book.date | date_to_long_string }}</p>
      </a>
    </div>
    </li>
    {% endfor %}
  </ul>
</div>