---
layout: default
title: Blog
permalink: /blog/
weight: 2
---
  <h2 style="text-align:center; color: #3a3a3a">
    <b>Blog</b>
  </h2>

<div class="card-columns m-3 mt-5">
    {% for freebie in site.freebies reversed %}
    
        {% if freebie.external_url %}
          {% assign freebie_url = freebie.external_url %}
        {% else %}
          {% assign freebie_url = freebie.url | relative_url %}
        {% endif %}
    
    <div class="wow animated fadeIn" data-wow-delay=".15s">
      <a href="{{ freebie_url }}" class="project card text-dark">
        <img class="card-img-top" src="{{ freebie.image }}" />
        <div class="card-body">
          <h5 class="card-title">{{ freebie.name }}</h5>
          <p class="card-text">{{ freebie.description }}</p>
          <p class="card-text">
            {% for tool in freebie.tools %}
            <span class="badge badge-pill text-danger border border-danger">{{ tool }}</span>
            {% endfor %}
          </p>
        </div>
        <div class="card-footer {{ text_style }}">
          {{ freebie.date | date_to_long_string }}
        </div>
      </a>
    </div>
    
    {% endfor %}
    </div>