---
layout: videos
permalink: /works/videos
description: Video editing works which I have done.
---
&nbsp;
<div style="display: flex; flex-direction: row; justify-content: center;">
    <a href="/works/images"><h5>🖼️ Images</h5></a>&nbsp; / &nbsp;<h5>📺 Videos</h5>
</div>
&nbsp;
&nbsp;

{% include elements/video.html id="Ejmga9uPfRA" %}

{% include elements/video.html id="EaEUe6YZ3Zo" %}

{% include elements/video.html id="Grjprrc7Ssc" %}

{% include elements/video.html id="gLcB8vd1iKA" %}

{% include elements/video.html id="gXBhMexZ3_U" %}

{% include elements/video.html id="227jzMh_44Y" %}

{% include elements/video.html id="p570nH3HLx8" %}

{% include elements/video.html id="ibN8NX7xzew" %}
