---
layout: videos
title: Works
permalink: /works/videos
image: /assets/card.png
description: Video production works which I have done till now
---
&nbsp;
<div style="display: flex; justify-content: center;">
    <div style="display: flex; flex-direction: row;" class="work-toggle">
    <div style="margin: 0 20px 0 20px;"><a style="text-decoration: none !important;" href="/works/images">images</a></div>
    <div class="work-toggle-active" style="padding: 0 20px 0 20px;">videos</div>
    </div>
</div>
&nbsp;
&nbsp;

{% include elements/video.html id="Ejmga9uPfRA" %}

{% include elements/video.html id="EaEUe6YZ3Zo" %}

{% include elements/video.html id="Grjprrc7Ssc" %}

{% include elements/video.html id="gLcB8vd1iKA" %}

{% include elements/video.html id="gXBhMexZ3_U" %}

{% include elements/video.html id="227jzMh_44Y" %}

{% include elements/video.html id="p570nH3HLx8" %}

{% include elements/video.html id="ibN8NX7xzew" %}
