---
title: Visuals
layout: default
permalink: /visuals
image: /assets/card.png
description: Converting complex ideas from books, articles & podcasts to simple illustrations
---

{% include elements/page-title.html title="✏️ Visuals" %}

<div class="post-grid" style="margin-top: 3rem;">
  {% for item in site.data.visuals %}
  <div class="post-grid-item">
    <a title="{{ item.name }}" target="_blank" rel="noopener" href="{{ item.url }}">
      <img id="{{ item.image }}-img" style="border-radius: .25rem;" src="{{ item.image }}" alt="{{ item.name }}"
        loading="lazy" />
    </a>
  </div>
  {% endfor %}
</div>