---
layout: default
title: Works
permalink: /works
weight: 1
image: /assets/card.png
description: A collection of links to my current & previous works and projects
---

{% include elements/page-title.html title="👨‍💻 Works" %}

<div class="post-grid book">
  {% for item in site.data.works %}
  <div class="post-grid-item">
    <a href="{{ item.url }}" target="_blank" rel="noopener" class="post text-themed">
      <img src="{{ item.image }}" alt="{{ item.title }}" loading="lazy" />
      <div class="item-body">
        <h2 style="margin-bottom: .25rem;"><b>{{ item.name }}</b></h2>
        <p class="blog-tags text-mute">{{ item.date }}</p>
        <p>{{ item.description }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>