<div class="timeline-item">
    <div style="display: flex; justify-content: space-between;">
      <div style="display: flex;">

        {% if item.end != nil %}
          {% include svg/check.svg %}
        {% else %}
          {% include svg/clock.svg %}
        {% endif %}

        <div>
          {% if item.link %}
            <div><b><a title="{{ item.title }}" target="_blank" rel="noopener" href="{{ item.link }}">{{ item.title }}{% include baseline-svg.html svg="ext-link" %}</a></b></div>
          {% else %}
            <div><b>{{ item.title }}</b></div>
          {% endif %}

          <div class="content">
            <span>{{ item.description }}</span>
    
              {% if item.type %}
                <span class="neutral-light">✦</span><span>{{ item.type }}</span>
              {% endif %}
          </div>

          <div>
            {{ item.start | date: "%b %y" }}
            &mdash;
            {{ item.end | date: "%b %y" | default: "Present" }}
          </div>

        </div>
        
      </div>
        <div class="text-mute">{% include date-diff.html %}</div>
    </div>
</div>