<div class="post-grid-item">
    <a href="{{ blog_url }}" class="post text-themed">
        <img class="border" src="{{ blog.image }}" alt="{{ blog.title }}" />
        <div class="blog-body">
            <h2 class="font-18">{{ blog.title }}</h2>

            {% if include.description == 'true' | default: 'true' %}
            <p class="text-mute">{{ blog.content | markdownify | strip_html | truncate: 87 }}</p>
            {% endif %}
            <span class="timeline-date">{{ blog.date | date_to_string }}</span>
        </div>
    </a>
</div>