<span class="input-group" style="margin: 3rem 0 2rem 0; padding: 0 1rem;">
  <input style="height: 43.3167px; margin-right: .5rem; border-radius: .25rem;" id="search-input" type="text" class="form-control search-box" placeholder="Search posts, tags..">
  <button class="btn" aria-label="rss" style="margin: 0;" onclick="location.href = '{{ '/feed.xml' | relative_url }}';">
    {% include svg/rss.html %}
  </button>
</span>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
  $("#search-input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#blog div").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>