<!-- Collect tags from all posts -->
{%- assign tags = blank -%}
{%- for blog in site.blogs -%}
  {%- assign blog_tags = blog.tags | join:'|' | append:'|' -%}
  {%- if blog_tags != '|' -%}
    {%- assign tags = tags | append:blog_tags -%}
  {%- endif -%}
{%- endfor -%}
{%- assign tags = tags | split:'|' | uniq | sort -%}

<!-- List tags & related posts -->
{% for tag in tags %}
<div class="py-3">
  <h4 id="{{ tag | slugify }}">{{ tag }}</h4>
  <ol>
  {% for blog in site.blogs %}
    {%- if blog.tags contains tag -%}
      {%- if blog.external_url -%}
        {%- assign url = blog.external_url -%}
      {%- else -%}
        {%- assign url = blog.url | relative_url -%}
      {%- endif -%}
    <li><a href="{{ url }}">{{ blog.title }}</a>
    <small class="text-mute"> - {{ blog.date | date_to_long_string }}</small></li>
    {%- endif -%}
  {% endfor %}
  </ol>
</div>
<hr class="bg-light">
{% endfor %}