---
layout: page
---

<h2><b>{{ page.title }}</b></h2>

<p class="article-metadata text-muted">
    by <b>{{ page.author }}</b>
    <br>
    {{ page.date | date_to_long_string }}


  |

  {% if page.tags != empty %}
    Genre: 
    {% for tag in page.tags %}
      <span class="tag badge badge-pill">{{ tag }}</span>
    {% endfor %}
  {% endif %}

  | 🌟 {{ page.rating }} / 10

  <br>
  <b>
  {% assign words = content | number_of_words %}
  {% if words < 360 %}
    less than 1 min read time
  {% else %}
    {{ words | divided_by:200 }} mins read time
  {% endif %}
  </b>

</p>
<hr>

{{ content }}

<div class="dot"></div>
{% include share.html %}
<div class="text-center">
  📣️ Subscribe via <a href="https://t.me/vyshnav_xyz">Telegram</a>
</div>

{% include feedback.html %}