---
layout: page
---
<article>
  <header>
<h1>{{ page.title }}</h1>

<p class="article-metadata text-muted">
    by <b>{{ page.author }}</b>
    <br>
    {{ page.date | date: "%B %d, %Y" }}


    •

  {% if page.tags != empty %}
    Genre: 
    {% for tag in page.tags %}
      <span class="tag badge badge-pill">{{ tag }}</span>
    {% endfor %}
  {% endif %}

  • 🌟 {{ page.rating }} / 10

  <br>
  ⏳
  {% assign words = content | number_of_words %}
  {% if words < 360 %}
  1 min read time
  {% else %}
  {{ words | divided_by:180 }} mins read time
  {% endif %}

</p>
</header>
<hr>

<section>
{{ content }}
</section>

</article>
{% include share.html %}
{% include subscribe.html %}
<div class="dot"></div>
{% include feedback.html %}