---
layout: page
---
<article>
  {% include post-tag.html %}
  <header>
<h1 style="margin-top: 1rem;">{{ page.title }}</h1>

<p class="article-metadata text-muted">
  {{ page.date | date_to_long_string }} -
  {% assign words = content | number_of_words %}
  {% if words < 360 %}
  1 min read
  {% else %}
    {{ words | divided_by:200 }} mins read time
  {% endif %}
</p>
</header>

<section style="margin-top: 2rem;">
{% if page.preview == image %}
<img src="{{ page.image }}" alt="{{ page.title }}" title="{{ page.title }}">
{% endif %}

{{ content }}
</section>

</article>
{% include share.html %}
<hr>
{% include related.html %}
{% include subscribe.html %}

<hr>

{% include feedback.html %}